@page "/ModuleAuthor"
@using Microsoft.Extensions.Localization
@using global::ModuleAuthor.Localization
@inject IStringLocalizer<ModuleAuthorResource> L
@{
}
<h1>ModuleAuthor</h1>
<p>@L["SamplePageMessage"]</p>